@charset "UTF-8";
/*Roboto', sans-serif*/
/*'Fredericka the Great', cursive;*/

body{
    background-color:rgba(144, 238, 144, 0.829);
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;   
    text-align: justify;
}
header{
    width: 100%;
    background-image: linear-gradient(to top,#0f4408f1,#19a10dc9);
    padding: 5px;
    box-shadow: 1px 2px 5px rgba(15, 75, 42, 0.705);
    z-index: 2;
   
}
header > h1{
    text-align: center;
    color: white;
    font-family:'Roboto', sans-serif;
    
}
header > p{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
nav{
    display: inline-block;
    text-align: center;
}
nav > a{
    text-decoration: none;
    margin-left: 10px;
    color: white; 
}
nav:hover > a{
    text-decoration: underline;
    font-family:'Roboto', sans-serif;
}
main{
    width: 800px;
    background-color: white;
    margin: auto;
    padding: 1px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
}
main > h1{
    font-family:'Fredericka the Great', cursive;
    text-align: center;  
    color: #0F4408; 
}
.p1m{
    text-indent: 20px;
    margin-left: 20px; 
    margin-right: 20px; 
}
.h22{
    margin-left: 20px;
    background-image:linear-gradient(to right, #87e67ab4,white);
    color: #0F4408;
    padding-left: 10px;
    border-radius: 2px;
    font-family:'Fredericka the Great', cursive;  
}
.p2m{
    text-indent: 20px;
    margin-left: 20px; 
    margin-right: 20px;
}
.p3m{
    text-indent: 20px;
    margin-left: 20px; 
    margin-right: 20px;
}
.h2m{
    margin-left: 20px;
    background-image:linear-gradient(to right, #87e67ab4,white);
    color: #0F4408;
    padding-left: 10px;
    border-radius: 2px;
    font-family:'Fredericka the Great', cursive;  
}
.p4m{
    text-indent: 20px;
    margin-left: 20px; 
    margin-right: 20px;
}
.img-criadora{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 760px;
}
.p5m{
    text-indent: 20px;
    margin-left: 20px; 
    margin-right: 20px;
}
.img-ideialogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.p6m{
    text-indent: 20px;
    margin-left: 20px; 
    margin-right: 20px;

}
.java{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
section{
    width: 760px;
    background-color: rgba(146, 218, 178, 0.705);
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.295);
}
h3{
    background-color: rgba(15, 75, 42, 0.705);
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    text-indent: 6px;
}
.p-asi{
    text-indent: 20px;
    margin-left: 20px; 
    margin-right: 20px;
}
ul{
    text-decoration: underline;
    cursor: pointer;
}
.p1-ul{
    text-indent: 20px;
    margin-left: 20px; 
    margin-right: 20px;
}
.p2-ul{
    text-indent: 20px;
    margin-left: 20px; 
    margin-right: 20px;
}
footer > p{
    text-indent: 20px;
    margin-left: 20px; 
    margin-right: 20px;
}
.ultimo{
    text-align: center;
    background-color: rgba(15, 75, 42, 0.705);
    color: white;
    margin-bottom: 0px;
    width: 100%;
    margin-left: 10px;
    padding: 2px;
}